# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import requests

The final data file contains only one column, so we need to fix it.

In [7]:
data = pd.read_csv (r'result_ex.csv',sep=",")

data.drop("Unnamed: 0",axis='columns', inplace=True)

data=data.rename(columns={'data':'D'})

data = data.D.str.split(r',', expand=True)
data=data.loc[:, 0:9].rename(columns={0:'AQI', 1:'Temperature', 2:'Humidity',3:'Wind',4:'Pressure',5:'Link',6:'City',7:'State',8:'Country'})

data

,AQI,Temperature,Humidity,Wind,Pressure,Link,City,State,Country
0,('29','14','37','10.5','1015','https://www.iqair.com/afghanistan/badakhshan...,'Ashkasham','Badakhshan','Afghanistan')
1,('42','29','23','8.6','1005','https://www.iqair.com/afghanistan/badakhshan...,'Bazar-e Tashkan','Badakhshan','Afghanistan')
2,('42','22','26','5.2','1005','https://www.iqair.com/afghanistan/badakhshan...,'Hafiz Moghul','Badakhshan','Afghanistan')
3,('42','18','40','13.4','1013','https://www.iqair.com/afghanistan/badakhshan...,'Kuran wa Munjan','Badakhshan','Afghanistan')
4,('42','31','21','8.5','1004','https://www.iqair.com/afghanistan/badakhshan...,'Mashhad','Badakhshan','Afghanistan')
...,...,...,...,...,...,...,...,...,...
58658,('46','20','25','8.3','1019','https://www.iqair.com/zimbabwe/matabeleland-...,'Beitbridge','Matabeleland South','Zimbabwe')
58659,('42','15','14','4.1','1021','https://www.iqair.com/zimbabwe/midlands/kwekwe','Kwekwe','Midlands','Zimbabwe')
58660,('53','15','21','7.8','1021','https://www.iqair.com/zimbabwe/matabeleland-...,'Plumtree','Matabeleland South','Zimbabwe')
58661,('42','13','18','9.9','1022','https://www.iqair.com/zimbabwe/midlands/mvuma','Mvuma','Midlands','Zimbabwe')
58662,('42','14','18','8','1022','https://www.iqair.com/zimbabwe/midlands/lala...,'Lalapanzi','Midlands','Zimbabwe')

We don't really need Link column, right?

In [8]:
data.drop("Link",axis='columns', inplace=True)

Removing empty rows:

In [9]:
def remove_corrupt_rows(df):
    return (df.dropna())
df=remove_corrupt_rows(data)

Lets deal with some duplications

In [10]:
def remove_duplicatives(df, col_name=None):
    return (df.drop_duplicates(subset=col_name, inplace=False))

df=remove_duplicatives(df)

Deleting unwanted symbols

In [11]:
for row in df.iterrows():
    for i in range(0,8):
        row[1][i]=''.join(e for e in row[1][i] if e.isalnum())

In [12]:
# And voila!
df

,AQI,Temperature,Humidity,Wind,Pressure,City,State,Country
0,29,14,37,105,1015,Ashkasham,Badakhshan,Afghanistan
1,42,29,23,86,1005,BazareTashkan,Badakhshan,Afghanistan
2,42,22,26,52,1005,HafizMoghul,Badakhshan,Afghanistan
3,42,18,40,134,1013,KuranwaMunjan,Badakhshan,Afghanistan
4,42,31,21,85,1004,Mashhad,Badakhshan,Afghanistan
...,...,...,...,...,...,...,...,...
58658,46,20,25,83,1019,Beitbridge,MatabelelandSouth,Zimbabwe
58659,42,15,14,41,1021,Kwekwe,Midlands,Zimbabwe
58660,53,15,21,78,1021,Plumtree,MatabelelandSouth,Zimbabwe
58661,42,13,18,99,1022,Mvuma,Midlands,Zimbabwe
58662,42,14,18,8,1022,Lalapanzi,Midlands,Zimbabwe

In [13]:
df.to_csv("Final_Data.csv")