 # Machine learning

In [21]:
# ------------>>>>>>>> RUN THIS CODE CELL <<<<<<<<------------
# === CELL TYPE: IMPORTS AND SETUP 

import os                           # for testing use only
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing, linear_model, model_selection
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [22]:
df = pd.read_csv (r'C:\Users\USER\Documents\HIT- תואר ראשון מדעי המחשב\שנה ב\סימסטר ב\מבוא למדעי הנתונים\חומרים ללמידת מכונה\Final (1).csv')

In [23]:
df=df.dropna()
df

,Unnamed: 0,AQI,Temperature,Humidity,Wind,Pressure,City,State,Country,Forest_percentage,AQI_categotial,Population,Motor_vehicles_per_1k
0,0,29.0,14,37,105,1015,Ashkasham,Badakhshan,Afghanistan,0.25,1.0,38041754.0,47.0
1,1,42.0,29,23,86,1005,BazareTashkan,Badakhshan,Afghanistan,0.25,1.0,38041754.0,47.0
2,2,42.0,22,26,52,1005,HafizMoghul,Badakhshan,Afghanistan,0.25,1.0,38041754.0,47.0
3,3,42.0,18,40,134,1013,KuranwaMunjan,Badakhshan,Afghanistan,0.25,1.0,38041754.0,47.0
4,4,42.0,31,21,85,1004,Mashhad,Badakhshan,Afghanistan,0.25,1.0,38041754.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58628,58628,46.0,20,25,83,1019,Beitbridge,MatabelelandSouth,Zimbabwe,66.35,1.0,14645468.0,60.0
58629,58629,42.0,15,14,41,1021,Kwekwe,Midlands,Zimbabwe,66.35,1.0,14645468.0,60.0
58630,58630,53.0,15,21,78,1021,Plumtree,MatabelelandSouth,Zimbabwe,66.35,2.0,14645468.0,60.0
58631,58631,42.0,13,18,99,1022,Mvuma,Midlands,Zimbabwe,66.35,1.0,14645468.0,60.0
58632,58632,42.0,14,18,8,1022,Lalapanzi,Midlands,Zimbabwe,66.35,1.0,14645468.0,60.0

### load_dataset:

X=df.drop(['City','State','Country','AQI_categotial','Unnamed: 0'],axis=1)
y=df['AQI_categotial']

In [24]:
X=df.drop(['City','State','Country','AQI_categotial','Unnamed: 0'],axis=1)
y=df['AQI_categotial']

In [25]:
X=X.astype(int)
y=y.astype(int)

print(X)
print(y)

       AQI  Temperature  Humidity  Wind  Pressure  Forest_percentage  \
0       29           14        37   105      1015                  0
1       42           29        23    86      1005                  0
2       42           22        26    52      1005                  0
3       42           18        40   134      1013                  0
4       42           31        21    85      1004                  0
...    ...          ...       ...   ...       ...                ...
58628   46           20        25    83      1019                 66
58629   42           15        14    41      1021                 66
58630   53           15        21    78      1021                 66
58631   42           13        18    99      1022                 66
58632   42           14        18     8      1022                 66

       Population  Motor_vehicles_per_1k
0        38041754                     47
1        38041754                     47
2        38041754                     47
3        38041754                     47
4        38041754                     47
...           ...                    ...
58628    14645468                     60
58629    14645468                     60
58630    14645468                     60
58631    14645468                     60
58632    14645468                     60

[38891 rows x 8 columns]
0        1
1        1
2        1
3        1
4        1
        ..
58628    1
58629    1
58630    2
58631    1
58632    1
Name: AQI_categotial, Length: 38891, dtype: int32

### split_to_train_and_test:

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [28]:
print("Mean: ", X_train_scaled.mean(axis=0))
print("Standard Deviation: ", X_train_scaled.std(axis=0))

Mean:  [ 3.13209890e-18 -1.46686632e-16  1.29199080e-16 -9.99661565e-17
 -8.44074552e-15  1.04142288e-16 -3.75851868e-17  1.32461683e-16]
Standard Deviation:  [1. 1. 1. 1. 1. 1. 1. 1.]

In [29]:
X_test_scaled = scaler.transform(X_test)
print("Mean: ", X_test_scaled.mean(axis=0))
print("Standard Deviation: ", X_test_scaled.std(axis=0))

Mean:  [-0.01062342 -0.00409384 -0.00570768 -0.00066988  0.01311673  0.01101372
 -0.0025587   0.01468668]
Standard Deviation:  [0.9880709  1.01600351 1.00379918 1.01152625 1.02437303 1.00532783
 0.99784327 0.99854929]

In [30]:
min_max_scaler = MinMaxScaler(feature_range=(1,2,3,4,5))
X_train_scaled_in_range = min_max_scaler.fit_transform(X_train)
print("Min Value: ", X_train_scaled_in_range.min(axis=0))
print("Max Value: ", X_train_scaled_in_range.max(axis=0))
X_test_scaled_in_range = min_max_scaler.transform(X_test)

Min Value:  [1. 1. 1. 1. 1. 1. 1. 1.]
Max Value:  [2. 2. 2. 2. 2. 2. 2. 2.]

### Apply Machine Learning Algorithm - Train

In [31]:
clf_model = LogisticRegression().fit(X_train, y_train)

### Apply Machine Learning Algorithm - Predict

In [32]:
y_pred=clf_model.predict(X_test)

In [33]:
resDF=pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

resDF["correct"]=abs((resDF["Actual"]^resDF["Predicted"])-1)
resDF[resDF["correct"]==1]
resDF

       Actual  Predicted  correct
4528        1          2        2
5063        2          2        1
39716       1          2        2
37043       1          1        1
20225       1          2        2
...       ...        ...      ...
39161       2          1        2
31188       1          2        2
14184       1          1        1
28577       1          2        2
4532        1          2        2

[11668 rows x 3 columns]

In [34]:
print("Initial amount of samples: #{}".format(X.shape[0]))
print("Number of training samples: #{}".format(X_train.shape[0]))
print("Number of test samples: #{}".format(X_test.shape[0]))

print("\nTarget distribution in original dataset:\n{}".format(y.value_counts()))
print("\nTarget distribution in the training set:\n{}\n".format(y_train.value_counts()))
print("Target distribution in the test set:\n{}".format(y_test.value_counts()))

print("correct:",len(resDF[resDF["correct"]==1]))
print("total:",len(resDF))
print("correct %:",len(resDF[resDF["correct"]==1])/len(resDF))

Initial amount of samples: #38891
Number of training samples: #27223
Number of test samples: #11668

Target distribution in original dataset:
1    29171
2     7420
3     1823
4      476
5        1
Name: AQI_categotial, dtype: int64

Target distribution in the training set:
1    20382
2     5228
3     1267
4      345
5        1
Name: AQI_categotial, dtype: int64

Target distribution in the test set:
1    8789
2    2192
3     556
4     131
Name: AQI_categotial, dtype: int64
correct: 4922
total: 11668
correct %: 0.42183750428522454